<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>this is home page</title>
</head>
<body>
<section class="banner d-flex">


    <div class="text-center"  >

        <h1 class="font-weight-bold ">Smart Contact Manager</h1>
        <p class="container p-3 font-style: italic">A contact manager is a software program that enables users to easily
            store and find contact information, such as names, addresses, and telephone numbers. They are
            contact-centric databases that provide a fully integrated approach to tracking all information and
            communication activities linked to contacts.</p>
        <button class="btn bg-primary btn-lg">Get Start</button>
    </div>
</section>

</body>
</html>